body {
  background-color: gainsboro;
}

#welcome h1 {
  background-color: #41b3a3;
}
#mainDesc {
  background-color: white;
}
#timer {
  color: white;
}
#quiz h1 {
  background-color: #41b3a3;
  font-size: 30px;
}
#quiz {
  background-color: white;
}
#quiz button {
  display: block;
  margin-bottom: 10px;
}
#highscoreBrd h1 {
  background-color: #41b3a3;
}
#highscoreBrd {
  background-color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}
